/*
#Ani {
    animation-duration: 1.9s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

@keyframes slidein {
    0% {
        -webkit-transform: translate3d(-150%, 0, 0);
        transform: translate3d(-150%, 0, 0);
        visibility: visible;
      }
    
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }

    1000% {
        -webkit-transform: translate3d(150%, 0, 0);
        transform: translate3d(130%, 0, 0);
      }

}
*/
.Ani{
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s all ease;
}

.Ani.active{
  transform: translateX(0);
  opacity: 1;
}

.Apple{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.Apple.active{

}
