
@import url('https://fonts.googleapis.com/css?family=Albert Sans');

html
{

  max-width: 100%;

  overflow-x: hidden;

}

* 
{

  box-sizing: border-box;

}

body 
{
  font-family: "Albert Sans";

  background-color: #D8D8D8;

  z-index: -2;
}

embed
{

  height: 600px;

  width: 100%;

}

#FullScreen
{

  width: 100%;

  height: 100%;

}


/* Nav */



#FixedNavBar 
{

  background-color: #D8D8D8;

  position: fixed;

  align-items: center;

  width: 100%;

  z-index: 2;

  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;

  transition: 0.8s;

  padding-bottom: -50px;
   
  margin-top: -15px;

  margin-bottom: -50px;

  transition: all 0.5s;

}

#Title
{

  padding: 15px 32px;

  float: left;

  font-size: 18px;

  transition: 0.5s;

}

.AboutMeButton 
{

  float:right;

  background-color: #D8D8D8;

  border: none;

  color: #565656;
  
  padding: 15px 32px;
  
  text-align: center;
  
  text-decoration: none;
  
  font-size: 12pt;
  
  border-radius: 12px;
  
  font-weight: bold;
  
  transition: all 0.5s;
  
  cursor: pointer;

}

.AboutMeButton:hover 
{

  background-color: lightcyan;

}

/* No longer nav */

h2
{

  position: relative;

  font-size: 26px;

}

#Introduction
{

  Left:2%

}

#FarRight
{

  Left:44%

}

#Text
{

  position: relative;

  font-size: 16px;

  Left:2%

}

#Column1
{

  float: left;
  
  width: 50%;

}

.Column2
{

  float: right;

  display: flex;

  justify-content: space-between;

  min-width: 33%;

}

#JavaIcon
{

  background-image: url(images/JavaLogo.png);
  
  padding: 0;
  
  background-position: center center;
  
  background-repeat: no-repeat;

}

#PythonIcon
{
  
  background-image: url(images/PythonLogo.png);
  
  padding: 0;
  
  background-position: center center;
  
  background-repeat: no-repeat;

}

#CSharpIcon
{

  background-image: url(images/CSharpLogo.png);
  
  padding: 0;
  
  background-position: center center;
  
  background-repeat: no-repeat;

}

#MySQLIcon
{

  background-image: url(images/MySQLLogo.png);
  
  padding: 0;
  
  background-position: center center;
  
  background-repeat: no-repeat;

}

#HTMLIcon
{

  background-image: url(images/HTMLLogo.png);
  
  padding: 0;
  
  background-position: center center;
  
  background-repeat: no-repeat;

}

#CSSIcon
{
  
  background-image: url(images/CSSLogo.png);
  
  padding: 0;
  
  background-position: center center;
  
  background-repeat: no-repeat;

}

#JavaScriptIcon
{

  background-image: url(images/JavaScriptLogo.png);
  
  padding: 0;
  
  background-position: center center;
  
  background-repeat: no-repeat;

}

#JSPIcon
{

  background-image: url(images/JSPLogo.png);
  
  padding: 0;
  
  background-position: center center;
  
  background-repeat: no-repeat;

}

#Achievements
{

  position: relative;

  float: right;
  
  margin: auto;
  
  font-family: Helvetica, sans-serif;

}

/*#Proof
{

  position: relative;

}

#OBA2018
{

  position: inherit;

  top: 47px;

  padding: 10px 40px;

  min-width: 30%;

  min-height: 15%;

  max-width: 30%;

  max-height: 15%;

}*/

#Achievements::after 
{

  content: '';
  
  position: absolute;
  
  width: 6px;
  
  background-color: white;
  
  top: 0;
  
  bottom: 0;
  
  left: 50%;
  
  margin-left: -3px;

  z-index: -1;

}

.Left::before 
{

  content: " ";
  
  height: 0;
  
  position: absolute;
  
  top: 22px;
  
  width: 0;
  
  z-index: 1;
  
  right: 30px;
  
  border: medium solid white;
  
  border-width: 10px 0 10px 10px;
  
  border-color: transparent transparent transparent white;

}

.Left
{

  left: 0;

} 

.Right::before 
{
  
  content: " ";
  
  height: 0;
  
  position: absolute;
  
  top: 22px;
  
  width: 0;
  
  z-index: 1;
  
  left: 30px;
  
  border: medium solid white;
  
  border-width: 10px 10px 10px 0;
  
  border-color: transparent white transparent transparent;

}

.Right 
{

  left: 50%;

}

.Container
{

  padding: 10px 40px;

  position: relative;
  
  background-color: inherit;
  
  width: 50%;

  transition: 0.8s;  

}

.Container::after 
{
  
  content: '';
  
  position: absolute;
  
  width: 25px;
  
  height: 25px;
  
  right: -17px;
  
  border: 4px solid #FF9F55;
  
  top: 15px;
  
  border-radius: 50%;
  
  z-index: 1;

}

.AchievementContainer::after
{

  background-color: white;

}

.ExperienceContainer::after
{

  background-color: #FFAAF3;
  
}

.AcademicContainer::after
{

  background-color: #94F6F4;
  
}

.Right::after 
{

  left: -16px;

}

.AchievementExplanation
{

  padding: 20px 30px;

  background-color: white;
  
  position: relative;
  
  border-radius: 6px;

}

.ExperienceExplanation
{

  padding: 20px 30px;

  background-color: #FFAAF3;

  color: #00550C;

  color: 00550C;
  
  position: relative;
  
  border-radius: 6px;

}

.AcademicExplanation
{

  padding: 20px 30px;

  background-color: #94F6F4;

  color: #6B090B;
  
  position: relative;
  
  border-radius: 6px;

}

#Experience
{



}

#Socials
{

  margin-left: 2%;

}

#Column3
{

  float: left;
  
  width: 20%;

  margin: auto;

}

#Column4
{

  float: left;
  
  width: 20%;

  margin: auto;

}

.Images
{

  width: 50px;

  height: 50px;   

}

.ImageRotated90Deg
{

  -webkit-transform: rotate(90deg);

  -moz-transform: rotate(90deg);
  
  -ms-transform: rotate(90deg);
  
  -o-transform: rotate(90deg);
  
  transform: rotate(90deg);

}

.SmallFont
{

  font-size: 15px;

}



/* Animations */



.SlideFromTheLeft
{

  position: relative;

  transform: translateX(-150%);
  
  opacity: 0;
  
  transition: 1s all ease;

}

.SlideFromTheRight
{

  position: relative;
  
  transform: translateX(150%);
  
  opacity: 0;
  
  transition: 1s all ease;

}

.SlideFromTheLeft.active
{
  
  transform: translateX(0);
  
  opacity: 1;

}

.SlideFromTheRight.active
{

  transform: translateX(0);

  opacity: 1;

}
