
@import url('https://fonts.googleapis.com/css?family=Albert Sans');

body 
{
  font-family: "Albert Sans";

  background-color: #D8D8D8;

  z-index: -2;
}

#FixedNavBar 
{

  background-color: #D8D8D8;
  
  margin-top: -15px;

  position: fixed;

  align-items: center;

  width: 100%;

  z-index: 2;

  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;

  transition: 0.8s;

  padding-bottom: -50px;
    
  margin-bottom: -50px;

  transition: all 0.5s;

}

#Title
{

  padding: 15px 32px;

  float: left;

  font-size: 18px;

  transition: 0.5s;

}

.AboutMeButton 
{

  float:right;

  transition: 0.8s;

  background-color: #D8D8D8;

  border: none;

  color: #565656;
  
  padding: 15px 32px;
  
  text-align: center;
  
  text-decoration: none;
  
  display: inline-block;
  
  font-size: 12pt;
  
  border-radius: 12px;
  
  font-weight: bold;
  
  transition: all 0.5s;
  
  cursor: pointer;

}

.AboutMeButton:hover 
{

  background-color: lightcyan;

}

#Text
{

  position: relative;

  font-size: 19px
  
}

#Technologies
{

  display: flex;

  justify-content: center;

}

#JavaIcon
{

  display: flex;

  align-items: center;
  
  background-image: url(images/JavaLogo.png);
  
  padding: 0;
  
  background-position: center center;
  
  background-repeat: no-repeat;

}

#PythonIcon
{

  display: flex;

  align-items: center;
  
  background-image: url(images/PythonLogo.png);
  
  padding: 0;
  
  background-position: center center;
  
  background-repeat: no-repeat;

}

#CSharpIcon
{

  display: flex;

  align-items: center;
  
  background-image: url(images/CSharpLogo.png);
  
  padding: 0;
  
  background-position: center center;
  
  background-repeat: no-repeat;

}

#MySQLIcon
{

  display: flex;

  align-items: center;
  
  background-image: url(images/MySQL-Logo.png);
  
  padding: 0;
  
  background-position: center center;
  
  background-repeat: no-repeat;

}

#Beginning
{

  background-color: black;
  
}

#Academic
{



}

* 
{

  box-sizing: border-box;

}

#Achievements
{

  position: relative;

  max-width: 1200px;
  
  margin: auto;
  
  font-family: Helvetica, sans-serif;

}

#Achievements::after 
{

  content: '';
  
  position: absolute;
  
  width: 6px;
  
  background-color: white;
  
  top: 0;
  
  bottom: 0;
  
  left: 50%;
  
  margin-left: -3px;

  z-index: -1;

}

.Left::before 
{

  content: " ";
  
  height: 0;
  
  position: absolute;
  
  top: 22px;
  
  width: 0;
  
  z-index: 1;
  
  right: 30px;
  
  border: medium solid white;
  
  border-width: 10px 0 10px 10px;
  
  border-color: transparent transparent transparent white;

}

.Left
{

  left: 0;

} 

.Right::before 
{
  
  content: " ";
  
  height: 0;
  
  position: absolute;
  
  top: 22px;
  
  width: 0;
  
  z-index: 1;
  
  left: 30px;
  
  border: medium solid white;
  
  border-width: 10px 10px 10px 0;
  
  border-color: transparent white transparent transparent;

}

.Right 
{

  left: 50%;

}

.Container
{

  padding: 10px 40px;

  position: relative;
  
  background-color: inherit;
  
  width: 50%;

  transition: 0.8s;  

}

.Container::after 
{
  
  content: '';
  
  position: absolute;
  
  width: 25px;
  
  height: 25px;
  
  right: -17px;
  
  background-color: white;
  
  border: 4px solid #FF9F55;
  
  top: 15px;
  
  border-radius: 50%;
  
  z-index: 1;

}

.Right::after 
{

  left: -16px;

}

.AchievementExplanation
{

  padding: 20px 30px;

  background-color: white;
  
  position: relative;
  
  border-radius: 6px;

}

#Experience
{



}

#Summary
{



}

#Socials
{

  margin-left: 8%;

}

.Images

{
  width: 50px;

  height: 50px;    
}

.SmallFont
{

  font-size: 15px;

}



/* Animations */



.SlideFromTheLeft
{

  position: relative;
  transform: translateX(-150%);
  opacity: 0;
  transition: 1s all ease;

}

.SlideFromTheRight
{

  position: relative;
  transform: translateX(150%);
  opacity: 0;
  transition: 1s all ease;

}

.SlideFromTheLeft.active
{
  transform: translateX(0);
  opacity: 1;
}

.SlideFromTheRight.active
{
  transform: translateX(0);
  opacity: 1;
}
